
  
    <!-- Menú lateral -->
    <div
      class="flex  top-0 left-0 h-screen w-64 bg-[#1E1B44] text-white shadow-lg transform transition-transform duration-300 ease-in-out z-10">
      <div class="p-4 w-[100%]">
        <!--<h2 class="text-lg font-semibold mb-4">Menú</h2> -->
        <ul class="space-y-2">
            <li><a href="/proyecto-SJB/inicio-control-de-pagos" class="block hover:bg-[#302C54] p-2 rounded">Dashboard</a></li>
            <li><a href="/proyecto-SJB/estudiantes" class="block hover:bg-[#302C54] p-2 rounded">Estudiantes</a></li>
            <li><a href="#" class="block hover:bg-[#302C54] p-2 rounded">Pagos Mensualidades</a></li>
            <li><a href="#" class="block hover:bg-[#302C54] p-2 rounded">Pagos Matrículas</a></li>
            <li><a href="#" class="block hover:bg-[#302C54] p-2 rounded">Reportes</a></li>
            <li><a href="#" class="block hover:bg-[#302C54] p-2 rounded">Mantenimiento</a></li>
        </ul>
      </div>
    </div>