
  
    <!-- Menú lateral -->
    <div
      class="flex  top-0 left-0 h-screen w-64 bg-[#1E1B44] text-white shadow-lg transform transition-transform duration-300 ease-in-out z-10">
      <div class="p-4 w-[100%]">
        <!--<h2 class="text-lg font-semibold mb-4">Menú</h2> -->
        <ul class="space-y-2">
            <li><a href="/proyecto-SJB/inicio-control-de-pagos" class="flex block hover:bg-[#302C54] p-2 rounded"> <i class="mr-[10px] flex items-center"><img src="assets/img/panel.png"             alt=""></i> Panel de Control</a></li>
            <li><a href="/proyecto-SJB/estudiantes"             class="flex block hover:bg-[#302C54] p-2 rounded"><i class="mr-[10px] flex items-center"><img src="assets/img/estudiantes-menu.png"   alt=""></i> Estudiantes</a></li>
            <li><a href="/proyecto-SJB/mensualidades"           class="flex block hover:bg-[#302C54] p-2 rounded"><i class="mr-[10px] flex items-center"><img src="assets/img/pagos-mensulidades.png" alt=""></i> Pagos Mensualidades</a></li>
            <li><a href="/proyecto-SJB/matriculas"              class="flex block hover:bg-[#302C54] p-2 rounded"><i class="mr-[10px] flex items-center"><img src="assets/img/pagos.png"              alt=""></i> Pagos Matrículas</a></li>
            <li><a href="/proyecto-SJB/reportes"                class="flex block hover:bg-[#302C54] p-2 rounded"><i class="mr-[10px] flex items-center"><img src="assets/img/reportes-menu.png"      alt=""></i> Reportes</a></li>
            <li><a href="/"                                     class="flex block hover:bg-[#302C54] p-2 rounded"><i class="mr-[10px] flex items-center"><img src="assets/img/cerrar-sesion.png"      alt=""></i> Cerrar sesion</a></li>
        </ul>
      </div>
    </div>