<section class="contenedor w-full h-screen overflow-hidden relative">
    <app-barra-superior></app-barra-superior>

    <div class="flex">
        <app-menu-desplegable>
        </app-menu-desplegable>

        <div class="flex h-screen w-full bg-[#DBE0E6]  flex items-center justify-center">
            <div class=" bg-[#F6F5FF] w-[750px]">
                <div class="m-[20px]">
                    <p class="border-b-4 divide-[#434054] text-[48px] font-bold">PANEL DE CONTROL</p>
                    <div class="flex justify-center mt-[40px]">
                        <p class="text-[20px] text-center">
                            Bienvenido! Accediste al Sistema Control
                            de pagos de matrículas y mensualidades
                        </p>

                    </div>

                    <div class="flex justify-between mt-[40px] mb-[40px]">

                        <a href=""
                            class="flex bg-[#5F4BD8] rounded-xl w-[200px] h-[200px] grid justify-center items-center">
                            <div class="flex justify-center items-center h-full mt-[15px]">
                                <img src="assets/img/estudiantes.png" class="w-[110px]">
                            </div>
                            <p class="flex justify-center text-[20px] text-white"> Estudiantes</p>

                        </a>

                        <a href=""
                            class="flex bg-[#4070F4] rounded-xl w-[200px] h-[200px] grid justify-center items-center">
                            <div class="flex justify-center items-center h-full mt-[15px]">
                                <img src="assets/img/pensiones.png" class="">
                            </div>
                            <p class="flex justify-center text-[20px] text-white"> Pensiones</p>

                        </a>

                        <a href=""
                            class="flex bg-[#90A4FB] rounded-xl w-[200px] h-[200px] grid justify-center items-center">
                            <div class="flex justify-center items-center h-full mt-[15px]">
                                <img src="assets/img/reportes.png" class="w-[70px]">
                            </div>
                            <p class="flex justify-center text-[20px] text-white"> Reportes</p>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




</section>