<section class="contenedor w-full h-screen overflow-hidden relative">
    <app-barra-superior></app-barra-superior>

    <div class="flex">
        <app-menu-desplegable>
        </app-menu-desplegable>

        <div class="flex h-screen w-full bg-[#DBE0E6]  flex">
            <div class=" bg-[#F6F5FF] w-[100%]">

                <div class="flex flex-col h-screen w-full bg-[#DBE0E6]  flex ">
                    <div class=" bg-[#F6F5FF] w-[100%]">
                        <div class="m-[20px]">
                            <p class=" text-[20px] font-bold">Control de Pagos de Matriculas</p>
                        </div>

                        <div class="m-[20px]">
                            <p class=" text-[12px]">Registro y seguimiento de pagos de las matriculas</p>
                        </div>
                    </div>


                    <div class="flex w-[100%] mt-[5px] grid ">
                        <div class="flex w-[100%] flex-col">
                            <div class="flex items-center">
                                <mat-form-field class="w-[80%]">
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                                </mat-form-field>
                                <div class="flex items-center justify-center ml-[10px]">
                                    <button mat-raised-button>Nuevo Pago</button>
                                </div>
                            </div>


                            <div class="mat-elevation-z8  flex w-[100%]">
                                <table mat-table [dataSource]="dataSource" matSort class="w-full">

                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="estudiante_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>año lectivo</th>
                                        <td mat-cell *matCellDef="let row">{{ row.estudiante_id }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="anio_lectivo_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>año lectivo</th>
                                        <td mat-cell *matCellDef="let row">{{ row.anio_lectivo_id }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="monto">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
                                        <td mat-cell *matCellDef="let row">{{ row.monto }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="fecha_pago">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de pago</th>
                                        <td mat-cell *matCellDef="let row">{{ row.fecha_pago }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="fecha_vencimiento">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de vencimiento</th>
                                        <td mat-cell *matCellDef="let row">{{ row.fecha_vencimiento }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="pagado">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pagado</th>
                                        <td mat-cell *matCellDef="let row">{{ row.pagado }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="created_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created at</th>
                                        <td mat-cell *matCellDef="let row">{{ row.created_at }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="updated_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>updated at</th>
                                        <td mat-cell *matCellDef="let row">{{ row.updated_at }}</td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>


                            </div>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                aria-label="Select page of users"></mat-paginator>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>




</section>