  <!--  --> <!--  --> <!--  --> <!--  -->
    <!--  --> <!--  --> <!--  --> <!--  -->
    <!-- Barra superior -->
    <!--  --> <!--  --> <!--  --> <!--  -->
    <!--  --> <!--  --> <!--  --> <!--  -->
    <div class="h-[80px] w-full bg-[#302C54] z-20 relative">
        <div class="grid grid-cols-2 h-full mx-[20px] text-white">
            <!-- Botón menú hamburguesa -->
            <div class="flex items-center">
                <!--<button (click)="toggleMenu()" class="focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>-->
                <p class="ml-2 text-white text-[48px] font-bold">S.J.B</p>
            </div>
            <div class="flex items-center justify-end">
                <p>Usuario</p>
            </div>
        </div>
    </div>
