<div class="p-8 max-w-xl mx-auto bg-white shadow rounded">
  <a href="/estudiantes">
  <button class="absolute top-4 left-4 flex items-center text-blue-600 hover:text-blue-800" >
    <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"></path>
    </svg>
    Volver
  </button>
  </a>
  
  <h2 class="text-2xl font-bold mb-6 text-center">Editar Estudiante</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
    <div class="mb-4">
      <label class="block mb-1">Nombre</label>
      <input class="w-full p-2 border rounded" formControlName="nombre" />
    </div>

    <div class="mb-4">
      <label class="block mb-1">Apellidos</label>
      <input class="w-full p-2 border rounded" formControlName="apellidos" />
    </div>

    <div class="mb-4">
      <label class="block mb-1">DNI</label>
      <input class="w-full p-2 border rounded" formControlName="dni" />
    </div>

    <div class="mb-4">
      <label class="block mb-1">Fecha de Nacimiento</label>
      <input type="date" class="w-full p-2 border rounded" formControlName="fecha_nacimiento" />
    </div>

    <div class="mb-4">
      <label class="block mb-1">Grado</label>
      <input class="w-full p-2 border rounded" formControlName="grado" />
    </div>

    <div class="mb-6">
      <label class="block mb-1">Apoderado</label>
      <input class="w-full p-2 border rounded" formControlName="apoderado" />
    </div>

    <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">
      Guardar Cambios
    </button>
  </form>
</div>
